/AdministratorDAO.class
/ChatRecordDAO.class
/DAO.class
/LogInDAO.class
/MajorDAO.class
/MaterialDAO.class
/PermDAO.class
/ProblemDAO.class
/ProblemProfessionDAO.class
/ProblemTypeDAO.class
/ReportDAO.class
/ReportTypeDAO.class
/ScoreDAO.class
/SelectedTopicDAO.class
/SelectionDAO.class
/StudentDAO.class
/SystemActivityDAO.class
/TeacherDAO.class
/UserDAO.class
/UserPermDAO.class
/UserTypeDAO.class
