/Administrator.class
/ChatRecord.class
/LogIn.class
/Major.class
/Material.class
/Perm.class
/Problem.class
/ProblemProfession.class
/ProblemType.class
/Report.class
/ReportType.class
/Score.class
/SelectedTopic.class
/Selection.class
/Student.class
/SystemActivity.class
/Teacher.class
/User.class
/UserPerm.class
/UserType.class
