/AdministratorDAOImpl.class
/ChatRecordDAOImpl.class
/LogInDAOImpl.class
/MajorDAOImpl.class
/MaterialDAOImpl.class
/PermDAOImpl.class
/ProblemDAOImpl.class
/ProblemProfessionDAOImpl.class
/ProblemTypeDAOImpl.class
/ReportDAOImpl.class
/ReportTypeDAOImpl.class
/ScoreDAOImpl.class
/SelectedTopicDAOImpl.class
/SelectionDAOImpl.class
/StudentDAOImpl.class
/SystemActivityDAOImpl.class
/TeacherDAOImpl.class
/UserDAOImpl.class
/UserPermDAOImpl.class
/UserTypeDAOImpl.class
